@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background: linear-gradient(to right, #6d9aee, #2a5298);
  color: aliceblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.crypto-tracker {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.crypto-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto-search h1 {
  font-size: 100px;
  background: linear-gradient(90deg, #eef2f3, #8aa3ad);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.search-input {
  color: rgb(240, 236, 236);
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: rgb(11, 11, 51);
  outline: none;
}

#cowellereum {
  color: aliceblue;
  font-size: 20px;
}

#cowellereum a {
  font-size: 50px;
  outline: none;
  text-decoration: none;
  color: grey;
  transition: all 0.3s ease;
}

#cowellereum a:hover {
  font-size: 50px;
  outline: none;
  text-decoration: none;
  color: gold;
  transition: all 0.3s ease;
}

/* CryptoCoins.jsx */
.crypto-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.crypto-row {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
  width: 1000px;
  background-color: rgb(18, 11, 78);
  border-radius: 10px;
}

.crypto {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.crypto h1 {
  font-size: 30px;
  width: 150px;
  color: rgb(197, 190, 199);
}

.crypto img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  padding-left: 5px;
}

.symbol {
  text-transform: uppercase;
}

.crypto-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.crypto-price {
  width: 110px;
}

.crypto-volume {
  width: 200px;
}
.marketcap {
  width: 240px;
}

.crypto-percent {
  width: 80px;
}

.red {
  color: red;
}

.green {
  color: green;
}


